
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
   
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
                url('https://images.unsplash.com/photo-1611295326589-32219b49292b?q=80&w=1920&auto=format&fit=crop');
                
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.weather-container {
    background: rgba(255, 255, 255, 0.85); 
    backdrop-filter: blur(8px); 
    padding: 2.5rem;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); 
    text-align: center;
    width: 350px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}


h1 {
    color: #1a237e;
    font-size: 28px;
    margin-bottom: 25px;
    font-weight: 700;
}


.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 12px;
    flex-grow: 1;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

button {
    padding: 12px 20px;
    background-color: #0288d1; 
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #01579b;
}


#weatherResult {
    margin-top: 20px;
    color: #333;
}

.temp-big {
    font-size: 60px; 
    font-weight: bold;
    color: #0277bd;
    margin: 10px 0;
}

.desc {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
    text-transform: capitalize;
}


.details-box {
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.6);
    padding: 15px;
    border-radius: 12px;
    margin-top: 15px;
}